.defender-wrap
  .defender-card
    .name=name
    .quote=quote
    h3.personal1 #{personal1}:
    .personal2=personal2
    .info
      h3 Duties And Evidence
      .defender-duties
        each duty in duties
          .evidence=duty
        each evidence in evidences
          .evidence=evidence
    .got-it-btn
      img.shadow-icon(data-src="btn-got-it")