.top
  .main
    .name-and-rank
      .status-badge
        img.shadow-icon(data-src="#{badge}")
      .divider
      .identity
        h1.name #{name}
        h2.rank #{rank}
      .divider.second
    .episodes(class="#{episode}")
      
      .badge(data-episode="1" class="#{episode >= 1 ? 'active' : ''}")
        img.shadow-icon(data-src="ep1-badge")
      .badge(data-episode="2" class="#{episode >= 2 ? 'active' : ''}")
        img.shadow-icon(data-src="ep2-badge")
      .badge(data-episode="3" class="#{episode >= 3 ? 'active' : ''}")
        img.shadow-icon(data-src="ep3-badge")
      .badge(data-episode="4" class="#{episode >= 4 ? 'active' : ''}")
        img.shadow-icon(data-src="ep4-badge")
      .badge(data-episode="5" class="#{episode >= 5 ? 'active' : ''}")
        img.shadow-icon(data-src="ep5-badge")
  .learn-mode
    h1 Learn Mode
    h2 [ Warcore ]
  