.left-section
  p.intro=intro
  .item-info
    .mini-icon
      each item in items
        .icon(id="icon-#{item.id}")
          img.shadow-icon(data-src="#{item.icon}")
    .blurb
    .callout
      .header
        .line
        h1 Buffs
        .line
      p.details
    .action.fist
      .btn#action-btn
        img.shadow-icon(data-src="#{btnIcon}")
        .txt=btnTxt